* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 135px;
}
.link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #ffffff;
}
header {
  width: 100%;
  height: 586px;
  background: #74c69d;
}
.link a:hover {
  color: rgb(150, 129, 7);
  transition: all 1s;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 135px;
}
.box h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.box h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #ffffff;
}
.box p {
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #ffffff;
}
.box button {
  padding: 13px 47px;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  cursor: pointer;
}
.box button:hover {
  background-color: rgb(84, 83, 83);
  color: white;
  transition: all 2s;
}
.box {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 14px;
}
.von {
  text-align: center;
  margin-top: 90px;
}
.images-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 135px;
}
.box-2 span {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  color: #74c69d;
}
.box-2 h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #000000;
}
.box-2 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
}
.box-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}
.btn button {
  padding: 13px 29px;
  border-radius: 5px;
  background: #212529;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: white;
}
.boxes-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 135px;
}
.box-5 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.box-5 h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
}
.box-5 p {
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #21252980;
}
.too button {
  padding: 13px 29px;
  border-radius: 5px;
  background: #212529;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: white;
  cursor: pointer;
}
.too button:hover {
  background-color: gold;
  border: none;
  transition: all 2s;
}
.boxes-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 135px;
}
.box-10 {
  width: 279px;
  height: 299px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 3px 4px 12px 1px #00000040;
  padding: 20px 51px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.boxes-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 135px;
}
.box-9 {
  text-align: center;
  margin-top: 40px;
}
.box-9 span {
  color: #74c69d;
}
.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.btn button {
  cursor: pointer;
}
.btn button:hover {
  background-color: gold;
  border: none;
  transition: all 2s;
}
footer {
  background-color: #74c69d;
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 54px 135px;
  justify-content: space-between;
  color: white;
}
.box-12 {
  display: flex;
  align-items: center;
  gap: 25px;
}
