* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.box {
  text-align: center;
  padding: 15px 0;
  background-color: black;
  height: 48px;
  width: 100%;
  color: white;
}
.box p {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 135px;
}
.link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.link a {
  text-decoration: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
}
.btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn input {
  width: 243px;
  height: 38px;
  border-radius: 4px;
  padding-top: 7px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 20px;
  background: #f5f5f5;
  border: none;
}
.box-1 span {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
  color: #000000;
}
.box-1 h2 {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-1 {
  padding: 20px 135px;
}
.box-3 {
  width: 340px;
  height: 457px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 13px 0px #0000000d;
  padding: 40px 35px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}
.box-3 h3 {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}
.box-3 p {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 21px;
  letter-spacing: 0%;
}
.box-3 div {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.box-3 hr {
  width: 100%;
}
.box-4 {
  width: 800px;
  height: 457px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 13px 0px #0000000d;
  padding: 40px 31px;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 135px;
}
.box-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.box-5 input {
  width: 235px;
  height: 50px;
  border-radius: 4px;
  background: #f5f5f5;
  border: none;
}
.div input {
  width: 737px;
  height: 207px;
  border-radius: 4px;
  align-items: start;
  text-align: start;
  justify-content: start;
  border: none;
  background-color: #f5f5f5;
}
.box-4 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.box-4 button {
  margin-left: 522px;
  width: 215px;
  height: 56px;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 48px;
  padding-bottom: 16px;
  padding-left: 48px;
  border: none;
  background-color: red;
  color: white;
}
footer {
  width: 100%;
  height: 340px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 80px 135px;
}
.box-8 {
  display: flex;
  gap: 80px;
}
.box-9 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
.box-10 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}
.box-10 input {
  width: 217px;
  height: 48px;
  border-width: 1.5px;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #000000;
  border: 1.5px solid #fafafa;
  color: white;
}
