*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 130px;
}

a{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-decoration: none;
color: black;
}
.links{
    display: flex;
    gap: 48px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 28px;
}
section{
display: flex;
justify-content: space-between;
align-items: center;
padding: 80px 130px;
}
.box1{
    display: flex;
align-items: center;
gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cont{
    display: flex;
    gap: 30px;
}
button{
padding: 16px 48px;
background: #DB4444;
color: white;
border: none;
border-radius: 4px;
}
h3{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box2{
    border: 1px solid #00000080
}
.b2{
    display: flex;
    padding: 20px 30px;
    gap: 10px;
}
h3{
font-weight: 600;
font-size: 22px;
line-height: 24px;
letter-spacing: 3%;

}
p{
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0%;

}
.boxx{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.boxess{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
    background-color: black;
    color: white;
}
.po{
    display: flex;
    align-items: center;
}
.div{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
