* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5rem;
  background-color: #74c69d;
}
.links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.links a {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-top: 40px;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  color: #74c69d;
}
header h2 {
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}
p {
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 340px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.card h5 {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.card h4 {
  font-weight: 400;
  font-size: 15px;
  color: #21252980;
}
h4 span {
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}
.card p {
  font-weight: 400;
  font-size: 15px;
  color: #21252980;
}
.ul li {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  padding: 12px 29px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #212529;
  border: none;
  border-radius: 5px;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  margin-top: 80px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 5rem;
  background-color: #74c69d;
  margin-top: 135px;
}
.lnks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
 h6 {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
